<div class="modal-header">
    <h5 class="modal-title" id="todoModalLabel">
      {{ operationType === 'create' ? '新規作成' : (operationType === 'edit' ? '編集' : '削除') }}
    </h5>
    <button type="button" class="close" (click)="modalService.dismissAll()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- 新規作成や編集の場合に表示するフォーム -->
    <div *ngIf="operationType !== 'delete'">
      <div class="form-group">
        <label for="input_text">タイトル</label>
        <input [(ngModel)]="todo.title" id="input_text" type="text" class="form-control" placeholder="タイトルを入力">
      </div>
      <div class="form-group">
        <label>重要度</label>
        <select [(ngModel)]="todo.priority" class="form-control">
          <option value="1">低</option>
          <option value="2">中</option>
          <option value="3">高</option>
        </select>
      </div>
      <div class="form-group">
        <label>期日</label>
        <input [(ngModel)]="todo.deadline" type="datetime-local" class="form-control">
      </div>
      <div class="form-group">
        <label>完了・未完了</label>
        <input [(ngModel)]="todo.completed" type="checkbox" class="form-check-input">
      </div>
      <div class="form-group">
        <label>お気に入り</label>
        <input [(ngModel)]="todo.is_favorite" type="checkbox" class="form-check-input">
      </div>
    </div>
    <!-- 削除の確認メッセージ -->
    <div *ngIf="operationType === 'delete'">
      本当に削除しますか？
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalService.dismissAll()">閉じる</button>
    <button type="button" class="btn btn-primary" *ngIf="operationType !== 'delete'" (click)="save()">保存</button>
    <button type="button" class="btn btn-danger" *ngIf="operationType === 'delete'" (click)="delete(todo.id)">削除</button>
  </div>
  