<div>
  今日の日付：{{ currentDate | date:'yyyy/MM/dd' }}
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">トップページ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/todos" routerLinkActive="active">Todoリスト</a>
            <a class="nav-item nav-link" routerLink="/diary" routerLinkActive="active">一言日記</a>
            <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">企画書</a>
            <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">制作物一覧</a>
            <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">グラフ・表</a>
            <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">家計簿</a>
            <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">時間割</a>
            <a class="nav-item nav-link" routerLink="/quote" routerLinkActive="active">名言</a>
            <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">設定</a>
          <!-- Disabled リンクは変更不要 -->
          <a class="nav-link disabled">Disabled</a>
        </div>
      </div>
    </div>
  </nav>
  