<div class="container">
  <button class="btn btn-primary" (click)="openCreateModal()">新規作成</button>
  <div class="newtodo-list row mt-3">
    <div *ngFor="let newtodo of newtodos" class="col-sm-8 offset-sm-2">
      <div class="card">
        <div class="card-body">
          <span>{{newtodo.title}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <div class="todo-list row">
    <div *ngFor="let todo of todos" class="col-sm-8 offset-sm-2">
      <div class="card">
        <div class="card-body">
         
          <div>
            <span>{{todo.title}}</span>
            <span>{{todo.deadline}}</span>
            <span>{{todo.priority}}</span>
            <span>{{todo.is_favorite}}</span>
            <span>{{todo.completed}}</span>
            
          </div>
          <button class="btn btn-primary" (click)="openEditModal(todo)">編集</button>
          <button class="btn btn-primary" (click)="openDeleteModal(todo)">削除</button>

        </div>
      </div>
    </div>
  </div>
  
  
</div>
