<div class="container">
  <button class="btn btn-primary" (click)="openCreateModal()">新規作成</button>
  
  <!-- ソートオプションのドロップダウンメニュー -->
  <select (change)="sortTodos($event)">
    <option value="created_at" selected>作成日時</option>
    <option value="deadline">締切日時</option>
    <option value="priority">優先度</option>
    <option value="completed">完了状態</option>
    <option value="favorite">お気に入り</option>
  </select>
  
  
  <div class="newtodo-list row mt-3">
    <div *ngFor="let newtodo of newtodos" class="col-sm-8 offset-sm-2">
      <div class="card">
        <div class="card-body">
          <span>{{ newtodo.title }}</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4">
  
  <div class="todo-list row">
    <div *ngFor="let todo of todos" class="col-sm-8 offset-sm-2">
      <div class="card">
        <div class="card-body">
          <div>
            <div><strong>タイトル：</strong>{{ todo.title }}</div>
            <div><strong>期日：</strong>{{ todo.deadline }}</div>
            <div><strong>重要度：</strong>{{ todo.priority }}</div>
            <div><strong>お気に入り：</strong>{{ todo.is_favorite ? 'はい' : 'いいえ' }}</div>
            <div><strong>完了状況：</strong>{{ todo.completed ? '完了' : '未完了' }}</div>
          </div>
          <button class="btn btn-primary" (click)="openEditModal(todo)">編集</button>
          <button class="btn btn-primary" (click)="openDeleteModal(todo)">削除</button>
        </div>
      </div>
    </div>
  </div>
</div>
